@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
}
* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.wordle-container {
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 500;
}

.wordle-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  gap: 1px;
}

input {
  height: 200px;
  width: 220px;
  font-size: 120px;
  text-align: center;
  caret-color: transparent;
  text-transform: uppercase;
}

.correct {
  background-color: transparent;
  animation-name: correct-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes correct-animation {
  to {
    background-color: lightgreen;
  }
}

.almost-correct {
  background-color: transparent;
  animation-name: almost-correct-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes almost-correct-animation {
  to {
    background-color: lightyellow;
  }
}

.not-in-word {
  background-color: transparent;
  animation-name: not-in-word-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes not-in-word-animation {
  to {
    background-color: rgb(169, 169, 169);
  }
}
